In [14]:
import warnings
warnings.filterwarnings("ignore")

import pandas as pd
import numpy as np
import split_scale
from sklearn.preprocessing import StandardScaler, MinMaxScaler
#import wrangle
import env
import seaborn as sns
import acquire
import prepare

from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import LabelEncoder, OneHotEncoder, MinMaxScaler
from sklearn.tree import DecisionTreeClassifier
from sklearn.tree import export_graphviz
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix

Acquire and clean Data for modeling

In [2]:
url =acquire.get_db_url('telco_churn')

In [3]:
df= acquire.prep_telco()

In [4]:
df= pd.DataFrame(df)

In [5]:
df= df.drop (df[['internet_service_type_id', 'payment_type_id', 'contract_type_id', 'payment_type_id']], axis=1)

In [6]:
df.head()

,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,online_security,online_backup,...,tech_support,streaming_tv,streaming_movies,paperless_billing,monthly_charges,total_charges,churn,contract_type,internet_service_type,payment_type
0,0003-MKNFE,Male,0,No,No,9,Yes,Yes,No,No,...,No,No,Yes,No,59.9,542.4,No,Month-to-month,DSL,Mailed check
1,0013-MHZWF,Female,0,No,Yes,9,Yes,No,No,No,...,Yes,Yes,Yes,Yes,69.4,571.45,No,Month-to-month,DSL,Credit card (automatic)
2,0015-UOCOJ,Female,1,No,No,7,Yes,No,Yes,No,...,No,No,No,Yes,48.2,340.35,No,Month-to-month,DSL,Electronic check
3,0023-HGHWL,Male,1,No,No,1,No,No phone service,No,No,...,No,No,No,Yes,25.1,25.1,Yes,Month-to-month,DSL,Electronic check
4,0032-PGELS,Female,0,Yes,Yes,1,No,No phone service,Yes,No,...,No,No,No,No,30.5,30.5,Yes,Month-to-month,DSL,Bank transfer (automatic)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
customer_id              7043 non-null object
gender                   7043 non-null object
senior_citizen           7043 non-null int64
partner                  7043 non-null object
dependents               7043 non-null object
tenure                   7043 non-null int64
phone_service            7043 non-null object
multiple_lines           7043 non-null object
online_security          7043 non-null object
online_backup            7043 non-null object
device_protection        7043 non-null object
tech_support             7043 non-null object
streaming_tv             7043 non-null object
streaming_movies         7043 non-null object
paperless_billing        7043 non-null object
monthly_charges          7043 non-null float64
total_charges            7043 non-null object
churn                    7043 non-null object
contract_type            7043 non-null object
internet_service_type    7043 non-null object
payment_type             7043 non-null object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

In [8]:
df.dtypes

customer_id               object
gender                    object
senior_citizen             int64
partner                   object
dependents                object
tenure                     int64
phone_service             object
multiple_lines            object
online_security           object
online_backup             object
device_protection         object
tech_support              object
streaming_tv              object
streaming_movies          object
paperless_billing         object
monthly_charges          float64
total_charges             object
churn                     object
contract_type             object
internet_service_type     object
payment_type              object
dtype: object

In [9]:
df.shape

(7043, 21)

In [10]:
df.dropna(inplace=True)

In [11]:
df.shape

(7043, 21)

In [15]:
df= prepare.prep_telco(df)

In [20]:
df= df.dropna()

In [ ]:
df= OneHotEncoder()

Split Data

In [23]:
train, test= split_scale.split_my_data(df, train_ratio=0.8, seed=123)

In [24]:
X = df.drop(['churn'],axis=1)
y = df[['churn']]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = .30, random_state = 123)

X_train.head()

,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,online_security,online_backup,device_protection,tech_support,streaming_tv,streaming_movies,paperless_billing,monthly_charges,total_charges,contract_type,internet_service_type,payment_type
1479,4578-PHJYZ,Male,0,Yes,Yes,52,Yes,No,No,Yes,Yes,Yes,Yes,No,Yes,68.75,3482.85,One year,DSL,Electronic check
2377,9348-ROUAI,Female,0,Yes,Yes,59,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,No,90.30,5194.05,Two year,DSL,Credit card (automatic)
6613,3190-ITQXP,Female,0,Yes,Yes,46,Yes,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,No,20.25,890.35,Two year,None,Bank transfer (automatic)
6468,1073-XXCZD,Male,0,Yes,No,55,Yes,Yes,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,No,25.70,1443.65,Two year,None,Bank transfer (automatic)
2668,1184-PJVDB,Male,0,Yes,No,10,Yes,No,No,No,No,No,Yes,No,Yes,79.95,857.20,Month-to-month,Fiber optic,Electronic check

In [25]:
df=prepare.encode(train, test, 'customer_id')

ValueError: y contains previously unseen labels: '7672-VFMXZ'

Train Model

Create the Decision Tree Object

# for classification you can change the algorithm to gini or entropy (information gain).  Default is gini.

In [ ]:
clf = DecisionTreeClassifier(criterion='entropy', max_depth=3, random_state=123)

Fit the model to the training data

In [ ]:
clf.fit(X_train, y_train)